{% extends 'base.html.twig' %}

{% block body %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            Posts
        </li>
    </ul>

    <h1>Posts</h1>

    <a class="btn" href="{{ path('posts_new') }}">Create</a>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr{% if post.state == 'draft' %} style="background-color: beige;"{% endif %}>
                <td><a href="{{ path('posts_edit', { 'id': post.id }) }}">{{ post.title }}</a></td>
                <td>{% if post.created %}{{ post.created | time_format }} ago{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
