{% extends 'base.html.twig' %}

{% block body %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('posts_index') }}">
                Posts
            </a>
        </li>
        <li class="breadcrumb-item">
            New
        </li>
    </ul>

    <h1>New post</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn" type="submit" value="Create" />
    {{ form_end(form) }}
{% endblock %}
